branches:
  only:
    - master
      #   - devel

install:
  - set QTDIR=C:\Qt\5.8\mingw53_32
  - choco install -y InnoSetup
  - set PATH=%QTDIR%\bin;C:\Qt\Tools\mingw530_32\bin;%PATH%;"C:\Program Files (x86)\Inno Setup 5"
build_script:
  - qmake socnetv.pro
  - mingw32-make
after_build:
  - windeployqt release/socnetv.exe
  - cmd: cp win32/KArchive/lib/libKF5Archive.dll.a release"
  - cmd: cp win32/KArchive/bin/libKF5Archive.dll release"
  - cmd: cp win32/zlib1.dll release"
  - cmd: cp win32/liblzma-5.dll release"
  - cmd: cp win32/libbz2-1.dll release"
  - cmd: cp LICENSE release/LICENSE.txt"
  - iscc innosetup.iss
  - rm release/*.o
  - rm release/*.cpp

artifacts:
  - path: Output\socnetv-*.exe
  - path: release
type: zip
