# Build SocNetV on Linux and macOS
# https://socnetv.org
# Last Update: April 21, 2023
# Copyright (c) 2023 by Dimitris Kalamaras
#


#
# This script builds SocNetV binaries ONLY on tags (i.e. 3.0 or 3.0-beta1).
# It will also build binaries if the commit message contains [travis] or [ci]
#

# legacy setting, we use it only to exclude (re)building each time
# uploadtool creates the continuous tag (when uploading)
# see: https://github.com/probonopd/uploadtool#usage
branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)$/


language: cpp


env:
  global:
    - SOCNETV_VERSION=3.1.0-dev # We use it to name packages on non-tagged commits
    # Set this variable to be read by uploadtool, which will only use it to mark continuous releases are prerelease.
    - UPLOADTOOL_ISPRERELEASE=true


# Build matrix definitions explicitly define our build
# maybe add a linux/clang pair ?
jobs:
  include:
    - os: linux
      compiler: gcc
      dist: focal
      env: FAILURES=true
      if: tag IS present OR commit_message =~ /\[travis\]|\[ci\]/ AND commit_message !~ /\[skip linux\]/
    - os: osx
      compiler: clang
      env: FAILURES=true
      osx_image: xcode13.1
      if: tag IS present OR commit_message =~ /\[travis\]|\[ci\]/ AND commit_message !~ /\[skip osx\]/
  exclude:
    - os: osx
      compiler: gcc
  allow_failures:
    #  define rows that are allowed to fail in the build matrix.
    - env: FAILURES=TRUE




before_install:
  # Run preparation script, before installing our dependencies, to add repos etc.
  - chmod +x .travis_before.sh
  - ./.travis_before.sh




install:
  # Run script to install our dependencies.
  - chmod +x .travis_install_deps.sh
  - ./.travis_install_deps.sh




script:
  # Run script to build our app.
  -  if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then chmod +x .travis_make_build_linux.sh; fi
  - '[ "$TRAVIS_OS_NAME" != linux ] || ./.travis_make_build_linux.sh'
  -  if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then chmod +x .travis_make_build_macos.sh; fi
  - '[ "$TRAVIS_OS_NAME" != osx ] || ./.travis_make_build_macos.sh'


after_success:
  # Run script to upload our packages
  - chmod +x .travis_upload_files.sh
  - ./.travis_upload_files.sh


