[Desktop Entry]
Name=SocNetV
X-SuSE-translate=true
GenericName=Social Network Visualizer 
Comment=Social Network Analysis and Visualization software
Exec=socnetv
Terminal=false
Type=Application
Icon=socnetv
Categories=Education;Science;Math;Qt;
Keywords=Network Analysis,Social Network Analysis,Visualizer;
