[Desktop Entry]
Name=Social Network Visualiser (SocNetV)
X-SuSE-translate=true
GenericName=Social Network Visualizer 
Comment=Social Network Analysis and Visualization software
Exec=socnetv
Terminal=false
Type=Application
Icon=socnetv
Categories=Education;Science;Math;Qt;
