[Desktop Entry]
X-SuSE-translate=true
Name=SocNetV
GenericName=Social Network Visualizer 
Comment=Social Network Analysis and Visualization software
Exec=socnetv
Icon=socnetv
Categories=Education;Science;Math;Qt;
Terminal=false
Type=Application
