[Desktop Entry]
Name=SocNetV
Comment=SocNetV is a Social Networks Visualisation and Analysis application.
Exec=/usr/local/bin/socnetv
Icon=/usr/local/share/pixmaps/socnetv.png
Categories=Applications;Science;Mathematics;Qt;
Terminal=false
Type=Application
