/* Basic tags */

.text {
font: normal 13px Sans;
}

.mainheading {
	font: bold 11px Verdana;
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699; FONT-FAMILY: arial
}

.basictab ul{
margin: 4px;
padding: 3px 0;
margin-left: 0;
font: bold 12px Verdana;
border-bottom: 1px solid gray;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
display: inline;
margin: 0;
}

.basictab li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid gray;
border-bottom: none;
background-color: #f6ffd5;
color: #2d2b2b;

}

.basictab li a:visited{
color: #2d2b2b;
}

.basictab li a:hover, .basictab li a.current{
background-color:   #DBFF6C;
color: black;
}

.basictab li a:active{
color: black;
text-decoration: underline;
}


.tabcontent{
display:none;
width:55%; /*width of 2nd level content*/
height:0.6em; /*height of 2nd level content. Set to largest's content height to avoid jittering.*/
color: gray;
font: bold 10px Arial;
}



.tabcontent ul{
margin: 4px;
padding: 3px 0;
margin-left: 0;
font: bold 10px Verdana;
border-bottom: 0px solid gray;
list-style-type: none;
text-align: center; /*set to left, center, or right to align the menu as desired*/
}

.tabcontent li{
display: inline;
margin: 0;
}

.tabcontent li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid gray;
border-bottom: none;
background-color: #d4e5fe ; /* #f6ffd5 */
color: #2d2b2b;

}


.tabcontent li a:visited{
color: #2d2b2b;
}

.tabcontent li a:hover, .basictab li a.current{
background-color:   #DBFF6C;
color: black;
}

.tabcontent li a:active{
color: black;
text-decoration: underline;
}




.caption {
color: gray;
font: normal 8px Sans;
background-color: #f6ffd5;
border: 1px solid lightgray;
text-align: center;
}

.screenshots a {
color: lightgray;
display: normal;
border: none;
border-bottom: none;
background-color: #f6ffd5;
}






.dltext {
display: normal;
text-decoration: none;
}

.dltext ul{
margin-top: 10px;
margin-left: 0px;
font: normal 12px Sans;
list-style-type: none;
text-align: left; 
}


.dltext li{
display: normal;
margin-top: 15px;
}


.dltext img {
text-align: center;
height=64px;
}

.dltext img.centered {
display: block;
margin-left: auto;
margin-right: auto;
padding: 0px;
}

.dltext .alignleft {
display: block;
margin-left: 0;
margin-right: auto;
}
.dltext .aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
.dltext .alignright {
display: block;
margin-left: auto;
margin-right: 0;
}



.dlbutton a{
display: block;
text-align: center;
color: gray;
font: normal 11px Arial;
text-decoration: none;
background-color: lightgray;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
}



.dlbutton  a:hover {
display: block;
color: black;
text-align: center;
text-decoration: none;
background-color: #DBFF6C; //orange;
}


.dltext em {
font: normal 11px Sans;
color: gray;
}


.dltext b {
font: normal 11px Sans;
color: gray;
}



.dlwarn {
display: block;
text-align: center;
color: gray;
font: normal 10px Arial;
text-decoration: none;
}


.dlwarn a{
text-align: center;
color: gray;
font: normal 10px Arial;
}



.dlwarn a:hover{

text-align: center;
color: gray;
font: normal 10px Arial;
text-decoration: underline;
}



.dlcaption {
color: gray;
font: normal 8px Sans;
background-color: #f6ffd5;
border: 1px solid lightgray;
text-align: center;
}

