/* Basic tags */

.text {
font: normal 12px sans-serif;
}

.text lititle {
font: bold 12px sans-serif;
margin-bottom: 0;
margin: 0;
padding-bottom: 0;
}

.text li {
font: normal 12px sans-serif;
margin-bottom: 0;
margin-bottom: 2px;
padding-bottom: 2px;
}



.text a{
color: #2d2b8b;
text-decoration: none;
border-bottom: 1px dashed black;
}

.text a:visited{
color: #2d2b1f;
}

.text a:hover {
background-color:   #DBFF6C ; // #aaaa00;
color: #2d2bff;
}



.mainheading {
	font: bold 11px sans-serif;
	COLOR: #336699; 
}

.basictab ul{
margin: 4px;
padding: 3px 0;
margin-left: 0;
font: bold 11px sans-serif;
border-bottom: 1px solid gray;
list-style-type: none;
text-align: left; 
}

.basictab li{
display: inline;
margin: 0;
}

.basictab li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid gray;
border-bottom: none;
background-color: #f6ffd5;
color: #2d2b2b;

}

.basictab li a:visited{
color: #2d2b2b;
}

.basictab li a:hover, .basictab li a.current{
background-color:   #DBFF6C;
color: black;
}

.basictab li a:active{
color: black;
text-decoration: underline;
}



.caption {
color: gray;
font: normal 8px sans-serif;
background-color: #f6ffd5;
border: 1px solid lightgray;
text-align: center;
}

.screenshots a, .screenshots a:visited  {
color: lightgray;
display: normal;
border: none;
border-bottom: none;
background-color: #f6ffd5;
}


.screenshots a:hover{
color: gray;
display: normal;
border: none;
border-bottom: none;
background-color: #f6ffd5;
}



.dltext {
display: normal;
text-decoration: none;
}


.dltext ul{
margin-top: 10px;
margin-left: 0px;
font: normal 12px sans-serif;
list-style-type: none;
text-align: left; 
}



.dltext li{
display: normal;
margin-top: 15px;
}


.dltext img {
text-align: center;
height = 64px;
}

.dltext img.centered {
display: block;
margin-left: auto;
margin-right: auto;
padding: 0px;
}

.dltext .alignleft {
display: block;
margin-left: 0;
margin-right: auto;
}

.dltext .aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}


.dltext .alignright {
display: block;
margin-left: auto;
margin-right: 0;
}


.dlicon a img {
border: none;
}


.dlicon a:hover {
border: none; 
}


.dlbutton a{
display: block;
text-align: center;
color: gray;
font: normal 11px Arial;
text-decoration: none;
background-color: lightgray;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
}



.dlbutton  a:hover {
display: block;
color: black;
text-align: center;
text-decoration: none;
background-color: #DBFF6C; //orange;
}


.dltext em {
font: normal 11px sans-serif;
color: gray;
}


.dltext b {
font: normal 11px sans-serif;
color: gray;
}



.dlwarn {
display: block;
text-align: center;
color: gray;
font: normal 10px Arial;
text-decoration: none;
}


.dlwarn a{
text-align: center;
color: gray;
font: normal 10px Arial;
text-decoration: none;
border-bottom: 1px dashed black;
}



.dlwarn a:hover{

text-align: center;
color: gray;
font: normal 10px Arial;

text-decoration: none;
border-bottom: 1px dashed black;
background-color: #DBFF6C;
}



.dlcaption {
color: gray;
font: normal 8px sans-serif;
background-color: #f6ffd5;
border: 1px solid lightgray;
text-align: center;
}



.code {
color: black;
font: normal 10px monospace;
background-color: #eceae9;
border: 1px dashed lightgray;
text-align: left;
margin:0;
margin-bottom:2px;
padding-bottom:1px;
margin-top:2px;
padding-top:1px;
}


.gpl img { 
border: 0px;
text-decoration: none;
}
