#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	# Build translations if your CMake does not already do it
	LRELEASE_BIN=$$(command -v lrelease-qt6 || command -v lrelease6 || command -v lrelease || echo /usr/lib/qt6/bin/lrelease); \
	test -x "$$LRELEASE_BIN"; \
	find . -name '*.ts' -print0 | xargs -0 -r "$$LRELEASE_BIN"
	dh_auto_build

override_dh_auto_install:
	dh_auto_install