
body {
  background: white none;
  color: black;
  font-family: sans-serif;
  padding: 0 15px 0 5px;
  margin: 0; 
}



p, h1, h2, h3, h4, h5, h6, td, th { 
  font-family: sans-serif;

}

h1, h2, h3, h4, h5, h6 { 
color: #377aeb;
background-color: transparent;
vertical-align: bottom;
}

h1 {
	  font-size: 20px;
}


h2 {
	  font-size: 18px;
}


h3 {
	  font-size: 16px;
}


h4 {
  padding:  0px 0px 0px 0px;
  margin: 20px 0px 5px 0px;
  font-size: 15px;
}

h5 {
  padding:  0px 0px 0px 0px;
  margin: 20px 0px 5px 5px;
  font-size: 14px;
}

p { 
  text-align: justify; 
}







.text {
  color: #1e3a47; 
  font-size: 14px;
  padding: 0 0px 0 5px;
}

.author {
  color: rgb(82,80,82);
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.credits {
  line-height: 1em;
  color: #1e3a47;
  font-size: 14px; 
}


.legalnotice, .copyright {
  padding: 0;
  margin: 0; 
}


a { 
color: #2d2b8b;
text-decoration: none;
border-bottom: thin dotted black;
margin:0; 
padding:0;
}

a:hover {
background-color:   #f6ffd5 ; // #aaaa00;
color: #2d2bff;
}


a:visited { 
  color: #8587f7;
}


.toc {
 font-size: 13px;
}

.toc ul {
  color: rgb(160,80,82); 
}

.toc ol {
  color: #8598f7;
  color: rgb(160,80,82);
}

   
.toc a {
    color: #8598f7;
    border-bottom: none;
}




.header {
/*  background: #f6ffd5 none; */
  background: #e0f2fe none;
  border-top: 1px solid #CFD1D5;
  border-bottom: 1px solid #CFD1D5;
  margin: 0px;
  padding:  0px 0px 0px 0px;
}




.title {
  vertical-align: bottom;
  color: #377aeb;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  font-family: serif;
  font-weight:  bold;
}




.logo {
  background: transparent;
  margin: 0px;
  padding:  0px 15px 0px 15px;
  float: left;
}


.footer{
/*  background: #f6ffd5 none;  */
  background: #e0f2fe none;
  border-top: 1px solid #CFD1D5;
  border-bottom: 1px solid #CFD1D5;  
  font-size: 12px;
  margin: 0px;
  padding:  0px 0em 0px 0px;
  text-align: left;
}

.footer a {
  border-top: 0px solid #CFD1D5; 
  text-decoration: none; 
  border-bottom: none;
}

.footer a:visited {
  border-top: 0px solid #CFD1D5; 
  text-decoration: none; 
  border-bottom: none;
}


.contents{
  font-size: small;
  text-align: center;
  vertical-align: middle;
}


.license { 
  font-family: monospace;
  color: rgb(0,0,0);
  font-size: small;
  padding:  5px 1em 0px 0px;
}



.code {
color: black;
font: normal 12px monospace;
background-color: #eceae9;
border: 1px dashed lightgray;
text-align: left;
margin-bottom:10px;
margin-top:0px;
padding: 0 15px 0 25px;
}

